<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div align="center">
        <div class="border">
            <div class="header">
                <h1 class="word">Login</h1>
            </div>

            <form action="/login" method="POST">
                <div class="msg">{{ msg }}</div>

                <input type="text" name="username" placeholder="Enter your username" class="textbox"><br><br>
                <input type="password" name="password" placeholder="Enter your Password" class="textbox"><br><br>

                <input type="submit" value="Sign In" class="btn"><br><br>
            </form>

            <p class="bottom">
                Don't have account?
                <a href="/register">Sign up here</a>
            </p>
        </div>
    </div>
</body>
</html>
